span.ext {
  background: url("/mirror/_assets/asset-cdn.schoology.com/sites/all/modules/schoology_core/s_extlink/s_extlink.png__q_6a22adde355849c9") right center no-repeat;
  padding-inline-end: 12px;
  zoom: 1;
}
span.mailto {
  background: url("/mirror/_assets/asset-cdn.schoology.com/sites/all/modules/schoology_core/s_extlink/mailto.png__q_6a22adde355849c9") right center no-repeat;
  padding-inline-end: 12px;
  zoom: 1;
  margin-inline-start: 4px;
}
